body{
    background-color: #B38D97;
    
}

.flex-container {
    display: flex;
    background-color: #902D41;
    justify-content: space-around; 
    inline-size: auto;
    width: auto;
    color:whitesmoke;
    
    
  }
  .flex-container > div {
    background-color: #f1f1f1;
    margin: 10px;
    padding: 20px;
    font-size: 30px;
    align-items: center;
    flex-flow: row nowrap;
    color:whitesmoke;
    text-decoration:none
  }

  .flex-container1 {
    display: flex;
    background-color: black;
    justify-content: space-around;
    flex-flow: row nowrap;
    inline-size: auto;
    width: auto;
    color:rgba(0, 0, 0, 0.233);
    
    
    
  }
  .flex-container1 > div {
    background-color: #f1f1f1;
    margin: 10px;
    padding: 20px;
    font-size: 30px;
    align-items: center;
    color:orangered;
    text-decoration:none
  }

  h1 {
    text-align: center;
    color: orangered;  
  }
  h3 {
    text-align: center;
    color: white;
    font-family: "Times New Roman", Times, serif;
  }
  .Border {
    background-color: #114B5F;
    width: auto;
    border: 8px solid whitesmoke;
    padding: 50px;
    margin: 20px;
  }

  .Contacts
  {
    background-color: #90b499;
    width: 400px;
    border: 5px solid #522B47;
    padding: 10px;
    margin: 10px;
    color: #114B5F;
  }